:root {
    /* White key width with respect to overall Piano width (100%). 36.1 is the number of white keys and a little extra to account for key margins */
    --white-width:  calc(100%/36.1);

    /* White key height with respect to overall Piano width. This maintains an 11:2 aspect ratio. */
    --white-height: calc(2 / 11 * 100%);

    /* Black key width with respect to white key width. This is always 2/3 of the width of the white keys. */
    --black-width:  calc(2/3 * var(--white-width));

    /* Black key height with respect to white key height. This is always 2/3 of the height of the white keys. */
    --black-height: calc(2/3 * var(--white-height));
    
    /* Negative margin to center the black keys between the white keys.*/
    --black-margin: calc(-1 * var(--black-width) / 2);
}

html, body {
    height: 100%;
    background-color: #2e2e2e;
}

.page-header {
    padding: 30px;
    text-align: center;
    color: white;
}

#piano-container {
    height: 100%;
}

#piano {
    width: 80vw;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0) 20%, rgb(70, 70, 70) 85%, rgb(56, 56, 56) 86%, rgb(0, 0, 0) 98%);
    cursor: pointer;
    padding: 2% 2% 1% 2%;
    box-shadow: 0px 12px 15px 0px #0e0e0f;
    margin: 0 auto 3% auto;
}

#keys {     
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.black, .white{ 
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.white {
    max-width: 42px;
    width: var(--white-width);
    padding-top: var(--white-height);
    background-image: linear-gradient(rgb(255, 255, 255) 20%, rgb(247, 247, 247) 88%, rgb(197, 197, 197) 90%, rgb(255, 255, 255) 98%);
    box-shadow: inset 1px 1px 2px 0px black
}

.black {
    max-width: 28px;
    margin-left: var(--black-margin);
    width: var(--black-width);
    padding-top: var(--black-height);
    z-index: 2;
    background-image: linear-gradient(rgb(0, 0, 0) 20%, rgb(93, 92, 92) 88%, rgb(72, 72, 72) 90%, rgb(0, 0, 0) 98%);
    box-shadow: inset 1px 1px 2px 0px black, inset -1px -1px 2px 0px black;
}

.white:hover {
    background-image: linear-gradient(rgb(212, 212, 212) 20%, rgb(196, 196, 196) 88%, rgb(158, 158, 158) 90%, rgb(212, 212, 212) 98%);
}

.black:hover {
    background-image: linear-gradient(rgb(73, 73, 73) 20%, rgb(105, 105, 105) 88%, rgb(88, 88, 88) 90%, rgb(73, 73, 73) 98%);
}

.black + .white {
    margin-left: var(--black-margin);
}

.white.mouse-down {
    background-image: linear-gradient(rgb(212, 212, 212) 20%, rgb(196, 196, 196) 93%, rgb(158, 158, 158) 95%, rgb(212, 212, 212) 99%);
}

.black.mouse-down {
    background-image: linear-gradient(rgb(73, 73, 73) 20%, rgb(105, 105, 105) 93%, rgb(88, 88, 88) 95%, rgb(73, 73, 73) 99%);
}

.chat-room {
    height: 30vh;
}

#msg-history {
    height: 100%;
    border-radius: 10px;
    border: 5px solid black;
    background-color: rgb(43, 40, 40);
    color: white;
    overflow-y: auto;
    word-wrap: break-word;
}

#messages {
    height: 0;
    padding-left: 0;
    font-size: 0.8em;
    margin: 2% 3%;
    list-style: none;
    color: pink;
}

.chat-room-input {
    bottom: 5vh;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.chat-user-status {
    color: yellow;
}

.new-message {
    bottom: 5%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 0.8em;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
}

.sent-message {
    text-align: right;
    color: lightblue;
}

.blur {
    filter: blur(3px);
    opacity: 0.5;
}

#toggle-tests {
    position: absolute;
    bottom: 5vh;
    z-index: 2;
}

#test-fixture {
    display: none;
    position: absolute;
    width: 100%;
    top: 96vh;
    left: 0px;
}